*.db
.DS_Store
target/
.settings/
nb-configuration.xml
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
src/main/webapp/WEB-INF/classes/
build/
.gradle
classes/*
out/
etc/docker/builder/jdk-8u144-linux-x64.rpm
.terraform
